<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>

<body>
    <%- include('../Screen/Navbar.ejs') -%>
        <div class="container">
            <h1 class="pagination justify-content-center " style="margin-top: 10px;">INSERT PRODUCT</h1>
            <form id="SubmitinsertProduct" class="was-validated" enctype="multipart/form-data">
                <div class="mb-3 mt-3">
                    <label for="uname" class="form-label">Name Product:</label>
                    <input type="text" class="form-control" id="name" placeholder="Name Product..." name="name"
                        required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Price:</label>
                    <input type="number" class="form-control" id="price" placeholder="Price..." name="price" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Color:</label>
                    <input type="text" class="form-control" id="color" placeholder="Color..." name="color" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Product Type:</label>
                    <input type="text" class="form-control" id="type" placeholder="Product Type..." name="type"
                        required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Quantity:</label>
                    <input type="number" class="form-control" id="quantity" placeholder="Quantity..." name="quantity"
                        required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Image Product :</label>
                    <input type="file" class="form-control" id="images" name="images" accept="image/*" multiple
                        required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <button type="submit" class="btn btn-primary d-block mx-auto" style="width: 200px;">INSERT</button>


            </form>
        </div>
        <script>
            try {
                const SubmitinsertProduct = document.getElementById("SubmitinsertProduct")

                SubmitinsertProduct.addEventListener("submit", async (event) => {
                    event.preventDefault();
                    var form = document.getElementById("SubmitinsertProduct");
                    var formData = new FormData(form);
                    const imageFiles = document.getElementById("images").files;
                    if (imageFiles.length > 2) {  // chỉ cho phép up 2 ảnh tối đa
                        alert("You can upload up to 2 images only"); 
                        return;
                    }


                    fetch("/insertProduct/Product", {
                        method: "POST",
                        body: formData,
                    })

                        .then((response) => {
                            console.log(response);
                            if (response.status == 200) {
                                alert("Insert successfully !!!");
                                document.getElementById("name").value = "";
                                document.getElementById("price").value = "";
                                document.getElementById("color").value = "";
                                document.getElementById("type").value = "";
                                document.getElementById("images").value = "";
                                document.getElementById("quantity").value = "";

                            } else {
                                alert("Insert failed already exists");
                            }
                        })
                        .then((data) => {
                            console.log(data);
                        })
                        .catch((err) => {
                            console.log(err);
                        });

                });


            } catch (error) {
                console.log(error)
            }
        </script>
</body>

</html>